@use "variables" as *;

.test {
    color: $red-color;
}

header {
    h1 {
        color: $red-color;
    }
}

div h1 {
    color: $yellow-color;
}

footer {
    h1 {
        color: $green-color;
    }
}